<app-header></app-header>

<div id="demo">
    <h3>Agregar Artículo</h3><br>
    <form [formGroup]="articleForm" (ngSubmit)="saveArticle(articleForm)">
        <div class="row">
            <div class="col-4">
                <label for="txtID" class="form-label">ID</label>
                <input type="text" readonly class="form-control" formControlName="id">
            </div>
            <div class="col-4">
                <label for="txtName" class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-4">
                <label for="txtDescription" class="form-label">Dirección</label>
                <input type="text" class="form-control" formControlName="description">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="txtPrecio" class="form-label">Precio</label>
                <input type="text" class="form-control" formControlName="price">
            </div>
            <div class="col-4">
                <label for="txtTotalShelf" class="form-label">Cantidad en Mostrador</label>
                <input type="text" class="form-control" formControlName="total_in_shelf">
            </div>
            <div class="col-4">
                <label for="txtTotalVault" class="form-label">Cantidad en Bodega</label>
                <input type="text" class="form-control" formControlName="total_in_vault">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
                <label for="txtTotalVault" class="form-label">Tienda</label>
                <input type="text" class="form-control" formControlName="store_id">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="deleteArticle()">Eliminar</button>
    </form>
</div>

<app-footer></app-footer>
