<app-header></app-header>

<div id="demo">
    <h3>Agregar Tienda</h3><br>
    <form [formGroup]="storeForm" (ngSubmit)="saveStore(storeForm)">
        <div class="row">
            <div class="col-6">
                <label for="txtID" class="form-label">ID</label>
                <input type="text" readonly class="form-control" formControlName="id">
            </div>
            <div class="col-6">
                <label for="txtname" class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-12">
                <label for="txtAddress" class="form-label">Dirección</label>
                <input type="text" class="form-control" formControlName="address">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

<app-footer></app-footer>