<app-header></app-header>

<div id="demo">
  <h3>Listado de Tiendas</h3><br>

  <button type="button" class="btn btn-primary" (click)="addStore()">Agregar Tienda</button>

  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Dirección</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let store of stores" (click)="editStore(store.id)">
          <td >{{store.id}}</td>
          <td >{{store.name}}</td>
          <td >{{store.address}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-footer></app-footer>