<app-header></app-header>

<div id="demo">
  <h3>Listado de Artículos</h3><br>

  <button type="button" class="btn btn-primary" (click)="addArticle()">Agregar Artículo</button>

  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Cantidad en Mostrador</th>
          <th>Cantidad en Almacen</th>
          <th>Tienda</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles" (click)="editArticle(article.id)">
          <td >{{article.id}}</td>
          <td >{{article.name}}</td>
          <td >{{article.description}}</td>
          <td >{{article.price}}</td>
          <td >{{article.total_in_shelf}}</td>
          <td >{{article.total_in_vault}}</td>
          <td >{{article.store_id}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-footer></app-footer>